body{
    margin: 0px;
    padding: 0px;



    /* display: flex; */
    align-items: center;
    justify-content: center; 




    
    /* background-color: #97FEED; */
    color: #092788;
    background: rgb(151,254,237);
    background: linear-gradient(90deg, rgb(53, 237, 207) 0%, rgb(95, 232, 227) 35%, rgb(200, 252, 255) 100%);
}

.headPart{
    /* border: 2px solid black; */
    margin-left: 20%;
    /* background-color: #35A29F; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
    
}

.midSection{
    /* border: 2px solid black; */
    margin: 10px;
    margin-top: 0px;
    /* background-color: #0B666A; */
}

.container{
    background-image: linear-gradient();

}

.item{
    margin: auto;
    padding: 20px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: center;  */
    /* flex-direction: column; */
    /* border: 2px solid black; */
    height: 50px;
    width: auto;
    font-size: larger;
    background-color: #ffffff;
    
}

.strikethrough {
    text-decoration: line-through;
    color: #092788ca;
    background-color: #ffffffa9;
  }



.item:hover{
    cursor: grab;
}
/* .headPart:hover{
    background: linear-gradient(90deg, rgb(53, 237, 207) 0%, rgb(95, 232, 227) 35%, rgb(200, 252, 255) 100%);
    animation: both;
    animation-delay: 1000ms;
    
}  */
