body{
    margin: 0;
    padding: 0;
    background-color: aqua;
    color: rgb(126, 12, 255);
    font-family: 'VT323', monospace;
}
h1{
    display: flex;
    align-items: baseline;
    justify-content: center;
    transition: 0.3s;
    /* border: 1px dotted black; */
}

.clockBody{
    /* border: 2px solid black; */
    margin: 40px;
    transition: 0.3s;

}

.hand{
    font-size: 500%;
    font-family: 'VT323', monospace;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* margin: 20px; */
    /* padding: 20px; */
    display: inline-flex;
    /* border: 1px dotted black; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}
.button{
    background-color: aqua;
    color: rgb(126, 12, 255);
    border: none;
    cursor: crosshair;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    transition: 0.3s;
    font-family: 'VT323', monospace;
    font-size: 130%;
    /* position: relative; */
}

.button:hover{
    background-color: rgba(33, 223, 223, 0.733);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 140%;
    
    color: rgb(238, 241, 203);
}
.clockBody:hover{
    color: rgba(255, 247, 177, 0.958);
    cursor: not-allowed;
}
h1:hover{
    color: rgb(255, 183, 0);
    cursor: crosshair;
    
}