body{
    margin: 0;
    padding: 0;
    background-color: rgb(244, 255, 184);
}
.projectmainBody{
  position: relative;
}
#imageID{
    height: 500px;
    /* width: 10px; */
    border: 1px solid black;
}

#button{
    height: 50px;
    width: 10px;
    background-color: black;
    border: 3px solid crimson;
    
}
.imgClass{
    /* position: absolute; */
    display: none;
}