@media screen and (max-width: 1000px) {
  
  .pinkSection {

    width: 200px;
  }
  .pinkImg {
    /* display: none;   */
    width: 300px;
    top: 135%;
    right: 15%;
  }
  .greenImg {
    width: 300px;
    top: 235%;
    right: 15%;
  }
  .greenSection {
    width: 200px;
    top: 240%;
  }
  .blueSection {
    width: 200px;
    top: 340%;
  }
  .blueImage {
    width: 300px;
    top: 335%;
    right: 15%;
  }

}




@media screen and (max-width: 768px) {
  /* Adjust header padding for smaller screens */
  

  /* Center align text in sections */
  .pinkSection,
  .greenSection,
  .blueSection,
  .footerPage {
    text-align: center;
  }

  /* Reduce font size for smaller screens */
  .heading1 {
    font-size: 24px;
  }

  .heading2 {
    font-size: 18px;
  }

  .heading3 {
    font-size: 14px;
  }

  /* Adjust image sizes for smaller screens */
  
  .pinkSection {
    top: 110%;
    left: 40%;
    width: 200px;
  }
  .pinkImg {
    /* display: none;   */
    width: 200px;
    top: 175%;
    left: 40%;
  }
  .greenImg {
    width: 200px;
    top: 275%;
    left: 40%;
  }
  .greenSection {
    top: 210%;
    left: 40%;
    width: 200px;
  }
  .blueSection {
    top: 320%;
    left: 40%;
    width: 200px;
  }
  .blueImage {
    width: 200px;
    top: 380%;
    left: 40%;
  }
  .footerP{
    font-size: 20px;
    align-items: center;
    text-align: center;
    
  }
  .footerB{
    height: 40px;
        width: 100px;
        font-size: 15px;
  }
}

