.secondPage{
    /* background-color: rgb(192, 244, 213); */
    height: 800px;
    transition: 0.8s;
}

.greenSection{
    /* background-color: rgb(255, 238, 206); */
    position: absolute;
    top: 250%;
    right: 20%;
    width: 250px;
    /* border: 2px solid black; */
    border-radius: 10px;
    overflow: hidden;

}
.greenSection img{
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: 100%;
    /* margin-top: -20px; */
    height: 250px;  
    /* left: 10%; */
    zoom: 130% ;
    
}
.greenSection p, button{
text-align: left;
margin: 10px auto auto 10px;
}


.greenImg{
    width: 400px;
    position: absolute;
    top: 225%;
    left: 10%;
    /* zoom: 20%; */
}

.secondPage:hover{
    
        background-color: rgb(192, 244, 213);
    
    
}