*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    /* border: 5px solid black; */
    width: 100%;
    color: rgb(255, 238, 206);
}
img{
    width: 100%;
    display: block;
}
.headerImg{
    width: 100%;
    object-fit: cover;
    object-position: 100%;
    margin-top: -20px;
    height: 750px;  
    zoom: 100%;
    
}
.heading1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.heading2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    /* border: 1px solid pink; */
    width: 500px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading3{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    border: none;
    background-color: #ffffff00;
}