/* background-color: #F5F5F5;
color: #3F2305;
color: #DFD7BF;
color: #F2EAD3; */


body{
    margin: 0;
    padding: 0;
    background-color: #F2EAD3;
    color: #3F2305;

}
h1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.pngDiv{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.pngClasses{
    margin: 10px;
    height: 30px;
}
.scoreDiv{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
h3{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid brown; */
}
h2{
    margin: 10px;
    padding: auto;
}

.buttonContainer{
    color: #3F2305;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    border-radius: 20%;
    border-style: none;
    background-color: #F2EAD3;
    color: #3F2305;
    margin: 10px;
    padding: 10px;
    transition: 0.3s;
}
.imageClass{
    height: 100px;
}


.container{
    color: #3F2305;
    display: flex;
    margin: auto;;
    columns: 40px;
}
.scorer{
    
    background-color: #DFD7BF;
    /* border: 1px dotted black; */
    font-size: large;
    width: 1000px;
    /* height: 500px; */
    margin: 30px;
    padding: auto;
}



.prompter{
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.classHider{display: none;}


.button:hover{
    height: 20%;
    background: rgb(223,215,191);
    background: radial-gradient(circle, rgba(223,215,191,1) 0%, rgba(242,234,211,1) 35%, rgba(223,215,191,1) 100%);
    
}