body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    margin: 50px;
}
.atag{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    /* border: 1px solid white; */
    border-radius: 20px;
    margin:  20px auto ;
    text-decoration: none;
    width: 200px;
    height: 50px;
    transition: 0.4s;
}



.atag:hover{
    color: black;
    box-shadow: 2px 2px 10px white,
     -2px -2px 10px aqua;
     background-color: aqua;

}