body{
    margin: 0px;
    padding: 0px;
    /* background-color: #97FEED; */
    color: #071952;
    background: rgb(151,254,237);
    background: linear-gradient(90deg, rgba(151,254,237,1) 0%, rgba(53,162,159,1) 35%, rgba(11,102,106,1) 100%);
}

.headPart{
    border: 2px solid black;
    margin: 10px;
    background-color: #35A29F;
    
    
}

.midSection{
    border: 2px solid black;
    margin: 10px;
    margin-top: 0px;
    background-color: #0B666A;
}

.container{
    background-image: linear-gradient();

}

.item{
    margin: auto;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    border: 2px solid black;
    height: 50px;
    width: 50px;
}

