* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.container {
  width: 100%;
  /* max-width: 720px; */
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/g1pysw8rov2b1.jpg");
  background-size: cover; /* Cover the container while maintaining aspect ratio */
  background-repeat: no-repeat;
  background-position: center center; /* Center the image */
}

.tranparentBG {
  width: 340px;
  height: 600px;
  position: absolute; /* Position the overlay absolutely within the container */
  top: 50%; /* Vertically center the overlay */
  left: 50%; /* Horizontally center the overlay */
  transform: translate(-50%, -50%); /* Adjust for centering */
  background-color: rgba(
    246,
    246,
    246,
    0.5
  ); /* Semi-transparent black background */
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 30px;

  /**/
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
}

.space{
    height: 50px;
}
.usernameBox {
  text-align: center;
  border-top: 4px solid transparent;
  margin: 20px;
  height: 30px;
  width: 120px;
  /* border: none; */
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.5);
}

.usernameinputBox {
  margin: 20px;
  margin-top: 10px;
  height: 30px;
  width: 220px;
  border: none;
  background-color: rgb(255, 255, 255, 0.5);
  outline: none;
}

.messageBox {
  border-top: 4px solid transparent;
  margin: 20px;
  height: 30px;
  width: 120px;
  /* border: none; */
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.messageBoxInput {
  margin: 20px;
  margin-top: 10px;
  height: 130px;
  width: 220px;
  border: none;
  background-color: rgb(255, 255, 255, 0.5);
  outline: none;
}

button {
  transition: 0.4s;
}
.sendMessage {
    margin: 10px;
    margin-left: auto; /* Add this to push the button to the right */
    margin-right: 20px;
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 20px;
  background-color: #dada34;
  color: white;
  cursor: pointer;
}

.sendMessage:hover {
  background-color: #ffffff; /* Adjust the neon color as needed */
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; /* Neon glow effect */
  color: black;
}
