body {

    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1{
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.clockBody{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;

}

.hands{
    margin: auto;
    /* padding: auto; */
    background-color: rgb(81, 81, 81);
    text-align: center;
    /* justify-content: center; */
    /* align-items: center;  */
    height:100px;
    width: 100px;
    transform: rotate(0deg);
    
}

.hands {
    transition: ease .3s ;
    animation: hello 1s infinite;

  }
  @keyframes hello{
    0% {background-color: rgb(114, 114, 114);}
    100% { background-color: black;}
    
  }
  .hands:hover{
    transform: rotate(10deg);
  }




