body {

    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1{
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.clockBody{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;

}

.hands{
    margin: auto;
    /* padding: auto; */
    background-color: rgb(81, 81, 81);
    text-align: center;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height:100px;
    width: 100px;
    transform: rotate(0deg);
    border-radius: 20px;
    
}

.hands {
    transition: ease .3s ;
    animation: hello 1s infinite;
    margin-bottom: 20px;

  }
  @keyframes hello{
    0% {background-color: rgb(114, 114, 114);}
    100% { background-color: black;}
    
  }
  .hands:hover{
    transform: rotate(10deg);
  }


  .quotesDiv{
    background-color: violet;
    border: 1px solid green;
    border-radius: 50px;
    width: 40%;
    display: grid;
    margin-top: 150px;
    margin: auto;
    align-items: center;
    
  }
.quoteHeader{
  color: black;
}
.quoteCentered{
  margin: 05px 0 0px  30px;
}

  .button{
    display: flex;margin: auto 20px 15px auto;
    border-radius: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: white;
    border: none;
    width: 40px;
  }

  img{
    background-color: white;
    height: 30px;
    border-radius: 25px;
  }

