body {

    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1{
  margin: auto;
  margin-top: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

h2{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.clockBody{
    margin-top: 70px;
    display: flex;
     justify-content: center;
     text-align: center;
      
    font-size: larger;

}

.hands{
    margin: 10px;
    background-color: rgb(81, 81, 81);
    text-align: center; 
    height:100px;
    width: 100px;
    border-radius: 20px;
    
}

.hands {
    transition: ease .3s ;
    animation: tilit 1s infinite;

  }
  @keyframes tilit{
    0% {background-color: black;}
    100% { background-color:rgb(114, 114, 114);}
    
  }
  .hands:hover{
    transform: rotate(20deg);
  }


.quotesDiv{
    background: rgb(164,135,158);
    background: linear-gradient(0deg, rgb(255, 165, 237) 0%, rgb(255, 71, 218) 100%);
    /* border: 1px solid green; */
    border-radius: 30px;
    width: 450px;
    height: 200px;
    display: grid;
    margin-top: 100px;
    margin: auto;
    align-items: center;
    
  }
.quoteHeader{
  color: black;
}
.quoteCentered{
  margin: 05px 0 0px  30px;
}

  .button{
    display: flex;
    margin: auto 20px 15px auto;
    border-radius: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: white;
    border: none;
    width: 40px;
    /* height: 40px; */
  }

  img{
    background-color: white;
    height: 30px;
    /* width: 30px; */
    border-radius: 25px;
  }

  .space{
    height: 150px;
  }

